# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE / Editor
.clang_complete
.gcc-flags.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
*/*.vsix

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build
build/
build_asan/
external/unity/*
.koilo_reflect_cache.json
__pycache__/
*/.venv/

# OS
Thumbs.db
.DS_Store

# Generated
tools/vscode-koiloscript/*.vsix
CMakeFiles/

# Private assets
assets/fbx/ascii/commissions/
assets/fbx/binary/commissions/
assets/kmesh/commissions/

docs/.wip/